In [2]:
#dependices
import os
import csv
import pandas as pd

In [13]:
zip_code = "Data Set/zip_code.csv"
zip_code_df = pd.read_csv(zip_code)
zip_code_df.head(50)

,ZIP,Neighborhood,Borough,Cases,"Cases per 100,000","Deaths per 100,000",Percent positive<br>(of people tested)
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,420,1782.45,106.10,6.95
1,10002,Chinatown/Lower East Side,Manhattan,1237,1611.61,208.45,10.00
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,516,959.08,63.20,5.39
3,10004,Financial District,Manhattan,39,1068.32,27.39,6.04
4,10005,Financial District,Manhattan,81,964.73,23.82,5.31
5,10006,Financial District,Manhattan,36,1041.13,0.00,5.24
6,10007,TriBeCa,Manhattan,71,860.63,36.36,4.50
7,10009,Alphabet City/East Village/Stuyvesant Town-Coo...,Manhattan,796,1354.94,117.45,7.24
8,10010,Flatiron/Gramercy/Kips Bay,Manhattan,310,957.62,58.69,4.79
9,10011,Chelsea,Manhattan,597,1206.05,86.87,5.93
10,10012,Greenwich Village/SoHo,Manhattan,193,804.80,37.53,4.85
11,10013,Hudson Square/Little Italy/SoHo/TriBeCa,Manhattan,306,1054.04,72.34,5.09
12,10014,Hudson Square/Meatpacking District/West Village,Manhattan,360,1159.68,93.42,5.38
13,10016,Kips Bay/Murray Hill/NoMad,Manhattan,800,1523.10,93.29,6.96
14,10017,East Midtown/Murray Hill,Manhattan,162,1004.51,49.61,5.20
15,10018,Hell's Kitchen/Midtown Manhattan,Manhattan,245,2570.44,52.46,7.31
16,10019,Hell's Kitchen/Midtown Manhattan,Manhattan,670,1648.97,103.37,6.93
17,10021,Lenox Hill/Upper East Side,Manhattan,616,1394.43,144.88,6.33
18,10022,East Midtown,Manhattan,381,1255.98,102.19,5.83
19,10023,Lincoln Square,Manhattan,622,1031.94,89.59,5.40
20,10024,Upper West Side,Manhattan,800,1395.24,130.80,6.72
21,10025,Manhattan Valley/Morningside Heights/Upper Wes...,Manhattan,1485,1608.30,190.61,7.18
22,10026,Central Harlem (South),Manhattan,721,1847.86,120.46,10.73
23,10027,Central Harlem (South)/Morningside Heights/Wes...,Manhattan,1147,1802.58,177.59,10.22
24,10028,Upper East Side/Yorkville,Manhattan,519,1055.84,67.13,5.87
25,10029,East Harlem,Manhattan,1945,2466.97,268.89,12.64
26,10030,Central Harlem (North),Manhattan,553,1885.96,187.57,11.82
27,10031,Hamilton Heights/West Harlem,Manhattan,1450,2394.44,217.98,12.61
28,10032,Washington Heights (South),Manhattan,1680,2732.04,282.96,13.70
29,10033,Washington Heights (North)/Washington Heights ...,Manhattan,1461,2467.47,202.67,13.64
30,10034,Inwood/Washington Heights (North),Manhattan,814,1889.79,164.83,10.98
31,10035,East Harlem,Manhattan,1098,3189.39,389.23,14.34
32,10036,Hell's Kitchen/Midtown Manhattan,Manhattan,498,1899.95,152.61,8.05
33,10037,Central Harlem (North)/East Harlem,Manhattan,560,2711.91,300.25,12.39
34,10038,Chinatown/Financial District,Manhattan,275,1247.28,127.00,7.44
35,10039,Central Harlem (North)/Washington Heights (South),Manhattan,582,2199.75,241.90,13.46
36,10040,Washington Heights (North),Manhattan,1229,2742.80,263.34,14.07
37,10044,Roosevelt Island,Manhattan,253,2162.34,307.68,11.53
38,10065,Lenox Hill/Upper East Side,Manhattan,345,1187.14,96.35,5.30
39,10069,Lincoln Square,Manhattan,65,1025.54,31.56,5.80
40,10075,Lenox Hill/Upper East Side,Manhattan,435,1840.56,190.40,7.91
41,10128,Upper East Side/Yorkville,Manhattan,698,1137.70,66.83,5.89
42,10280,Battery Park City,Manhattan,62,644.58,0.00,5.12
43,10282,Battery Park City,Manhattan,80,1450.47,271.96,9.73
44,10301,Silver Lake/St. George,Staten Island,1281,3233.74,267.59,16.18
45,10302,Elm Park,Staten Island,667,3552.79,170.45,20.27
46,10303,Graniteville/Mariner's Harbor/Port Ivory,Staten Island,923,3518.65,175.36,18.28
47,10304,New Dorp/Todt Hill,Staten Island,1468,3458.29,428.75,17.15
48,10305,Arrochar/Midland Beach/Shore Acres/South Beach...,Staten Island,1333,3131.98,187.97,17.02
49,10306,Lighthouse Hill/Midland Beach/New Dorp/Oakwood,Staten Island,1536,2861.10,152.74,14.98

In [4]:
median = "Data Set/median_incomes.csv"
median_income_df = pd.read_csv(median)
median_income_df

,Location,Household Type,TimeFrame,DataFormat,Data,Fips
0,Riverdale,All Households,2005,Dollars,"$60,686.22",208
1,Williamsbridge,All Households,2005,Dollars,"$49,881.99",212
2,Throgs Neck,All Households,2005,Dollars,"$55,211.29",210
3,Pelham Parkway,All Households,2005,Dollars,"$50,494.64",211
4,Morrisania,All Households,2005,Dollars,"$23,524.24",203
...,...,...,...,...,...,...
3635,Brooklyn,Families without Children,2018,Dollars,"$75,720.00",36047
3636,Manhattan,Families without Children,2018,Dollars,"$103,820.00",36061
3637,Queens,Families without Children,2018,Dollars,"$79,013.00",36081
3638,Staten Island,Families without Children,2018,Dollars,"$106,260.00",36085
3639,New York City,Families without Children,2018,Dollars,"$77,141.00",3651000

In [5]:
#All I did so far was import the CSVs. I'm trying to merge them by borough. So before that we
#need to clean the zip code data to be grouped by borough. Sum it mayeb? idk
#Then under location in the median income df at the end of each year is the overall amount for
# the boroughs. we need to trim the old data and the data keep only 2018. Then just use the borough
#numbers not the neighborhood numbers

In [27]:
#drop zip code and neighorhood, rename percent positive column
borough_1 = zip_code_df.drop(columns=['ZIP', 'Neighborhood'])
borough_df = borough_1.rename(columns ={"Percent positive<br>(of people tested)": "% positve of tested"})
borough_df

,Borough,Cases,"Cases per 100,000","Deaths per 100,000",% positve of tested
0,Manhattan,420,1782.45,106.10,6.95
1,Manhattan,1237,1611.61,208.45,10.00
2,Manhattan,516,959.08,63.20,5.39
3,Manhattan,39,1068.32,27.39,6.04
4,Manhattan,81,964.73,23.82,5.31
...,...,...,...,...,...
172,Queens,2577,3979.37,574.44,17.47
173,Queens,672,3339.92,462.22,15.87
174,Queens,347,2802.62,234.22,16.92
175,Queens,767,3767.97,432.31,18.26
176,Queens,111,3138.53,113.10,7.90

In [32]:
#group boroughs, sum cases, average cases & deaths (per 100,000), and average % positive of tested
by_boroughs = borough_df["Borough"].unique()
by_boroughs

array(['Manhattan', 'Staten Island', 'Bronx', 'Queens', 'Brooklyn'],
      dtype=object)

In [38]:
#Total Number of cases by Borough
cases = borough_df.groupby("Borough")["Cases"].sum()
cases_df = pd.DataFrame(data = cases)
cases_df = cases_df.rename(columns={"Cases": "Total Cases"})
# Total cases per 100,000 by Borough
cases_100 = borough_df.groupby("Borough")["Cases per 100,000"].sum()
cases_100_df = pd.DataFrame(data = cases_100)
cases_100_df = cases_100_df.rename(columns={"Cases per 100,000": "Cases per 100,000 (total)"})
# Total deaths per 100,000 by Borough
death_100 = borough_df.groupby("Borough")["Deaths per 100,000"].sum()
cases_100_df = pd.DataFrame(data = death_100)
cases_100_df = cases_100_df.rename(columns={"Deaths per 100,000": "Deaths per 100,000 (total)"})
# Avgerage % positve of tested by Borough
pos = borough_df.groupby("Borough")["Cases per 100,000"].mean()
pos_df = pd.DataFrame(data = pos)
pos_df = pos_df.rename(columns={"% positve of tested": "% positve of tested (average)"})

merge1 = pd.merge(cases_df, cases_100_df)