In [10]:
import os
import csv
import pandas as pd

In [11]:
zip_code = "Data Set/zip_code.csv"
zip_code_df = pd.read_csv(zip_code)
zip_code_df.head()

,ZIP,Neighborhood,Borough,Cases,"Cases per 100,000","Deaths per 100,000",Percent positive<br>(of people tested)
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,420,1782.45,106.10,6.95
1,10002,Chinatown/Lower East Side,Manhattan,1237,1611.61,208.45,10.00
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,516,959.08,63.20,5.39
3,10004,Financial District,Manhattan,39,1068.32,27.39,6.04
4,10005,Financial District,Manhattan,81,964.73,23.82,5.31

In [14]:
median = "Data Set/median_incomes.csv"
median_income_df = pd.read_csv(median)
median_income_df.head()

         Location  Household Type  TimeFrame DataFormat         Data   Fips
0       Riverdale  All Households       2005    Dollars   $60,686.22    208
1  Williamsbridge  All Households       2005    Dollars   $49,881.99    212
2     Throgs Neck  All Households       2005    Dollars   $55,211.29    210
3  Pelham Parkway  All Households       2005    Dollars   $50,494.64    211
4      Morrisania  All Households       2005    Dollars   $23,524.24    203

In [ ]:
#All I did so far was import the CSVs. I'm trying to merge them by borough. So before that we
#need to clean the zip code data to be grouped by borough. Sum it mayeb? idk
#Then under location in the median income df at the end of each year is the overall amount for
# the boroughs. we need to trim the old data and the data keep only 2018. Then just use the borough
#numbers not the neighborhood numbers