In [1]:
import os
import csv
import pandas as pd

In [2]:
zip_code = "Data Set/zip_code.csv"
zip_code_df = pd.read_csv(zip_code)
zip_code_df.head()

,ZIP,Neighborhood,Borough,Cases,"Cases per 100,000","Deaths per 100,000",Percent positive<br>(of people tested)
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,420,1782.45,106.10,6.95
1,10002,Chinatown/Lower East Side,Manhattan,1237,1611.61,208.45,10.00
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,516,959.08,63.20,5.39
3,10004,Financial District,Manhattan,39,1068.32,27.39,6.04
4,10005,Financial District,Manhattan,81,964.73,23.82,5.31

In [40]:
median = "Data Set/median_incomes.csv"
median_income_df = pd.read_csv(median)
#median_income_df.head()
df_filtered_year = median_income_df.loc[(median_income_df["TimeFrame"] == 2018)]
df_filtered_household = df_filtered_year.loc[(df_filtered_year["Household Type"] == "All Households")]
df_filtered_household.tail(6)
#df_filtered_household.sort_values(by=['Data'], ascending=False )
almost_done = df_filtered_household.drop(df_filtered_household.index[0:59])
#almost_done.head(6)
column = almost_done.drop(almost_done.index[5])
#column.head(10)
final = column.drop(columns=['Household Type', 'DataFormat', 'Fips'])
#final.head()
final_median = final.rename(columns={"TimeFrame": "Year", "Data": "Average Household Income"})
final_median.head()

           Location  Year         Data
3439          Bronx  2018   $38,467.00
3440       Brooklyn  2018   $61,220.00
3441      Manhattan  2018   $85,066.00
3442         Queens  2018   $69,320.00
3443  Staten Island  2018   $82,166.00

In [ ]:
#All I did so far was import the CSVs. I'm trying to merge them by borough. So before that we
#need to clean the zip code data to be grouped by borough. Sum it mayeb? idk
#Then under location in the median income df at the end of each year is the overall amount for
# the boroughs. we need to trim the old data and the data keep only 2018. Then just use the borough
#numbers not the neighborhood numbers